@import "bootstrap/variables";
@import "main/variables";
@import "main/global";
@import "main/mixins";
@import "main/gallery";
@import "main/bootstrap-hack";

#video-full {
    position: fixed;
    z-index: 100000;
    width: 100%;
    height: 100%;
    .transition(0.5s);
    button.close {
        position: absolute;
        top: 2%;
        right: 2%;
        font-size: 5em;
        color: white;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
}
#mission {
    overflow: hidden;
    .overlay {
        height: 100%;
        position: relative;
        .video {
            position: absolute;
            right: 0;
            top: 0;
            left: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1000;
            overflow: hidden;
            .background-size();
        }
    }
    .content {
        position: absolute;
        top: 20%;
        width: 100%;
        @media (max-width: @screen-sm) {
            top: 10%;
        }
        .logo {
            height: 90px;
            width: 90px;
            background-size: cover;
            margin: 0 auto;
            @media (max-width: @screen-sm) {
                height: 60px;
                width: 60px;
            }
        }
        .title {
            text-align: center;
            margin: 20px 0;
            font-size: 4em;
            color: white;
            font-weight: 200;
            @media (max-width: @screen-sm) {
                font-size: 2.5em;
            }
        }
        .subtitle {
            text-align: center;
            color: white;
            font-size: 2.5em;
            font-weight: 100;
            padding: 0 6em;
            @media (max-width: @screen-sm) {
                font-size: 1.5em;
                padding: 0 2em;
            }
        }
        .play-button {
            margin: 60px auto;
            height: 60px;
            width: 60px;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
            @media (max-width: @screen-sm) {
                margin: 40px auto;
            }
        }
    }
    .arrow-button {
        text-align: center;
        position: absolute;
        text-align: center;
        left: 20%;
        right: 20%;
        bottom: 5%;
        button {
            animation-duration: 2s;
            animation-iteration-count: infinite;
            font-size: 4em;
            color: white;
            &:hover {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}
#story {
    .background-size();
    position: relative;
    background-position: center center;
    @media (max-width: @screen-sm) {
        background-position: 83% 10%;
        margin-bottom: 500px;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        .gradient-vertical(rgba(39, 59, 38, 0), rgba(39, 59, 38, 1));
    }
    .left {
        margin: 20% 10px;
        .title {
            font-size: 2.4em;
            font-weight: 300;
            @media (max-width: @screen-sm) {
                text-align: center;
            }
        }
        .content {
            p {
                font-weight: 300;
                margin: 20px 0;
            }
        }
    }
}
#navbar {
    height: 140px;
    opacity: 0.95;
    border: none;
    .transition(0.5s);
    @media (max-width: @screen-sm) {
        height: 50px;
    }
    &.not-show {
        top: -140px;
    }
    &.full-show {
        top: 0;
    }
    &.half-show {
        top: -80px;
        @media (max-width: @screen-sm) {
            top: 0;
        }
    }
    .navbar-header {
        .navbar-logo {
            padding: 20px;
            display: block;
            .navbar-brand-image {
                color: @color-black;
                margin: 3px 0;
            }
        }
        button.navbar-toggle {
            border: none;
            background: none;
            &.focus, &.active, &.hover {
                background: none;
            }
        }
    }
    .navbar-top {
        border-bottom: 1px solid @color-light-gray;
        text-align: center;
        position: relative;
        ul {
            display: inline-block;
            margin: 20px;
            @media (max-width: @screen-sm) {
                margin: 0;
                float: left;
                width: 100%;
            }
            li {
                display: inline-block;
                @media (max-width: @screen-sm) {
                    padding: 5px 0;
                    display: block;
                    text-align: left;
                    border-bottom: 1px solid @color-light-gray;
                }
                a {
                    color: @color-dark-gray;
                    font-weight: 300;
                    &:hover, &:focus {
                        color: darken(@color-dark-gray, 20%);
                        background: none;
                        font-weight: 500;
                    }
                    @media (max-width: @screen-sm) {
                        // padding: 10px 0;
                    }
                }
                &.text {
                    color: @color-dark-gray;
                    font-weight: 300;
                    margin: 0 5px;
                }
                &.image {
                    margin: 0 -10px;
                }
                &.app {
                    border: none;
                    .text {
                        display: inline-block;
                        color: @color-dark-gray;
                        font-weight: 300;
                        padding: 25px 15px;
                    }
                    .icon {
                        width: 44px;
                        height: 44px;
                        background-size: cover;
                        display: inline-block;
                        vertical-align: middle;
                        background: url("../img/btn_apps_sprite.svg") no-repeat;
                        &.apple {
                            background-position: left top;
                            &:hover {
                                background-position: left bottom;
                            }
                        }
                        &.android {
                            background-position: right top;
                            &:hover {
                                background-position: right bottom;
                            }
                        }
                    }
                    .login {
                        background-color: @color-dark-gray;
                        color: white;
                        border-radius: 16px;
                        float: right;
                        margin-top: 20px;
                        margin-right: 15px;
                    }
                }
            }
            &.center {} &.right {
                margin: 10px 10px 0 0;
                float: right;
                .icon {
                    width: 44px;
                    height: 44px;
                    background-size: cover;
                    display: inline-block;
                    vertical-align: middle;
                    background: url("../img/btn_apps_sprite.svg") no-repeat;
                    &.apple {
                        background-position: left top;
                        &:hover {
                            background-position: left bottom;
                        }
                    }
                    &.android {
                        background-position: right top;
                        &:hover {
                            background-position: right bottom;
                        }
                    }
                }
            }
        }
        @media (max-width: @screen-sm) {
            background: rgba(255, 255, 255, 0.95);
        }
    }
    .navbar-bottom {
        text-align: center;
        .logo {
            display: inline-block;
            float: left;
            width: 30px;
            height: 30px;
            background-size: cover;
            margin: 0 18px;
            .background-size();
            .transition(0.5s);
            &.show {
                background-image: url("../img/logo.svg");
            }
        }
        ul {
            display: block;
            margin: 10px auto;
            li {
                display: inline-block;
                a {
                    color: @color-dark-gray;
                    font-weight: 300;
                    &:hover, &:focus {
                        color: darken(@color-dark-gray, 20%);
                        background: none;
                        font-weight: 500;
                    }
                }
                &.active {
                    a {
                        color: darken(@color-dark-gray, 20%);
                        background: none;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    li.divider {
        margin: 0;
        width: 1px;
        border-left: 1px solid @color-dark-gray;
        height: 10px;
    }
}
#count {
    padding: 60px 0;
    .row {
        padding: 40px 0;
    }
    .border-bottom {
        border-bottom: 1px solid @color-light-gray;
    }
    .count {
        text-align: center;
        font-size: 5em;
        font-weight: 300;
        color: @color-dark-gray;
        @media (max-width: @screen-sm) {
            font-size: 2em;
        }
    }
    .stat {
        text-align: center;
        font-size: 4em;
        font-weight: 300;
        color: @color-dark-gray;
    }
    .desc {
        text-align: center;
        color: @color-middle-gray;
        font-weight: 100;
        font-size: 1.2em;
    }
    .medal {
        text-align: center;
        font-weight: 300;
        .text {
            display: inline-block;
            vertical-align: top;
            .title {
                font-size: 1.2em;
                margin: 5px 0;
                @media (max-width: @screen-sm) {
                    font-size: 1em;
                    margin: 5px 0 0;
                }
            }
            .from {
                margin: 0;
                @media (max-width: @screen-sm) {
                    font-size: 0.8em;
                }
            }
        }
        .decor {
            width: 45px;
            height: 79px;
            display: inline-block;
            .background-size();
            @media (max-width: @screen-sm) {
                width: 33.75px;
                height: 59.25px;
            }
        }
        .left {
            background-image: url("../img/left_medal.svg");
            @media (max-width: @screen-sm) {
                left: 9%;
            }
            @media (max-width: 992px) {
                left: 5%;
            }
        }
        .right {
            background-image: url("../img/right_medal.svg");
            @media (max-width: @screen-sm) {
                right: 9%;
            }
            @media (max-width: 992px) {
                right: 5%;
            }
        }
    }
}
#culture {
    background-image: url("../img/culture.jpg");
    background-position: 50% 50%;
    .background-size();
    height: 800px;
    position: relative;
    @media (max-width: @screen-sm) {
        height: 500px;
    }
    .overlay {
        background-color: rgba(22, 33, 63, 0.6);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        .play-button {
            background-image: url("../img/our-culture.png");
            width: 264px;
            height: 237px;
            margin: 200px auto;
            cursor: pointer;
            .transition(0.3s);
            &:hover {
                opacity: 0.5;
            }
            @media (max-width: @screen-sm) {
                margin-top: 100px;
            }
        }
    }
}

