@font-face {
  font-family: 'Windsor';
  font-style: normal;
  src: url(../font/Windsor-Hand.otf);
}
body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}
.btn {
  background: none;
  border: none;
}
.btn:active,
.btn:hover,
.btn:focus {
  outline: 0;
}
#team {
  padding: 60px 0;
}
#team .title {
  text-align: center;
  margin: 40px 0;
  font-weight: 300;
  font-size: 2.8em;
}
@media (max-width: 768px) {
  #team .title {
    margin: 40px 10px;
  }
}
@media (max-width: 1450px) {
  #team .container {
    padding: 0;
    margin: 0;
  }
}
#team .container .gallery {
  margin: -1px;
}
#team .container .avatar {
  background: white;
  z-index: 10;
  position: absolute;
  padding: 20px;
}
@media (max-width: 1450px) {
  #team .container .avatar {
    padding: 1px;
  }
}
#team .container .avatar img {
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  -moz-box-shadow: grayscale(100%);
  -o-box-shadow: grayscale(100%);
  filter: grayscale(100%);
}
#team .container .avatar img:hover {
  -webkit-filter: grayscale(0);
  -moz-box-shadow: grayscale(0);
  -o-box-shadow: grayscale(0);
  filter: grayscale(0);
}
#team .container .spotlight {
  position: absolute;
  z-index: 0;
}
#team .container .spotlight .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-image: url("../img/x.svg");
  background-size: cover;
}
@media (max-width: 768px) {
  #team .container .spotlight .close-btn {
    background-image: url("../img/x_white.svg");
    width: 26px;
    height: 26px;
  }
}
#team .container .spotlight .close-btn:hover {
  opacity: 0.8;
}
#team .container .spotlight .close-btn i {
  padding: 0;
  color: #4a4a4a;
  font-size: 70px;
  line-height: 50px;
}
#team .container .spotlight .left {
  padding: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #team .container .spotlight .left {
    padding: 0;
    width: 60%;
    margin: 60px auto 20px auto;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1449px) {
  #team .container .spotlight .left {
    padding: 20px;
  }
}
@media only screen and (min-width: 1450px) {
  #team .container .spotlight .left {
    padding: 20px;
  }
}
#team .container .spotlight .left img {
  margin: 0 auto;
}
#team .container .spotlight .right {
  padding: 20px;
  position: relative;
  height: 100%;
  text-align: center;
}
#team .container .spotlight .right .info {
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #team .container .spotlight .right .info {
    padding: 0 16%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1449px) {
  #team .container .spotlight .right .info {
    padding: 0;
    width: 700px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }
}
@media only screen and (min-width: 1450px) {
  #team .container .spotlight .right .info {
    padding: 0;
    top: 50%;
    width: 700px;
    transform: translateY(-50%);
    position: absolute;
  }
}
#team .container .spotlight .right .info .name {
  text-transform: uppercase;
  font-size: 2.1em;
  font-weight: 300;
  text-align: center;
  color: #4a4a4a;
  letter-spacing: 0.2em;
  margin: 0 0 6px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #team .container .spotlight .right .info .name {
    font-size: 2.1em;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1449px) {
  #team .container .spotlight .right .info .name {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 1450px) {
  #team .container .spotlight .right .info .name {
    font-size: 2.1em;
  }
}
#team .container .spotlight .right .info .position {
  text-align: center;
  color: #9b9b9b;
  font-weight: 300;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  margin: 0 0 23px 0;
}
@media only screen and (min-width: 1024px) and (max-width: 1449px) {
  #team .container .spotlight .right .info .position {
    margin: 0 0 18px 0;
    font-size: 1.0em;
  }
}
#team .container .spotlight .right .info .social {
  padding: 23px 0px;
  border-top: 1px solid #e7e8e6;
  border-bottom: 1px solid #e7e8e6;
  text-align: center;
}
@media only screen and (min-width: 1024px) and (max-width: 1449px) {
  #team .container .spotlight .right .info .social {
    padding: 18px 0;
  }
}
@media only screen and (min-width: 1450px) {
  #team .container .spotlight .right .info .social {
    width: 440px;
    margin: 0 auto;
  }
}
#team .container .spotlight .right .info .social a {
  font-size: 0.9em;
  margin: 0;
}
#team .container .spotlight .right .info .social a:hover,
#team .container .spotlight .right .info .social a:focus,
#team .container .spotlight .right .info .social a:active {
  opacity: 0.8;
}
#team .container .spotlight .right .info .social a img.social-icon {
  color: #4a4a4a;
  display: inline-block;
  margin: 0 6px;
  height: 21px;
}
#team .container .spotlight .right .info .browser-history {
  margin: 25px 0 9px 0;
  text-align: center;
  color: #9b9b9b;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 0.1em;
}
#team .container .spotlight .right .info .interest {
  padding: 0 40px;
  text-align: center;
}
#team .container .spotlight .right .info .interest .item {
  font-size: 1.1em;
  font-weight: 300;
  color: #9b9b9b;
  margin: 7px 5px;
  padding: 3px 12px 5px 12px;
  border: 1px solid #dddddd;
  border-radius: 120px;
}
@media only screen and (min-width: 1024px) and (max-width: 1449px) {
  #team .container .spotlight .right .info .interest .item {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 1450px) {
  #team .container .spotlight .right .info .interest .item {
    font-size: 0.8em;
  }
}
#team .container .spotlight .right .info .interest .item:hover {
  color: #676767;
  border-color: #b7b7b7;
}
#team .container .spotlight .right .info .description {
  color: #373737;
  font-size: 1.1em;
  margin: 36px 0 0 0;
  font-weight: 300;
  text-align: left;
}
#video-full {
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#video-full button.close {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 5em;
  color: white;
}
#video-full iframe {
  width: 100%;
  height: 100%;
}
#mission {
  overflow: hidden;
}
#mission .overlay {
  height: 100%;
  position: relative;
}
#mission .overlay .video {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#mission .content {
  position: absolute;
  top: 20%;
  width: 100%;
}
@media (max-width: 768px) {
  #mission .content {
    top: 10%;
  }
}
#mission .content .logo {
  height: 90px;
  width: 90px;
  background-size: cover;
  margin: 0 auto;
}
@media (max-width: 768px) {
  #mission .content .logo {
    height: 60px;
    width: 60px;
  }
}
#mission .content .title {
  text-align: center;
  margin: 20px 0;
  font-size: 4em;
  color: white;
  font-weight: 200;
}
@media (max-width: 768px) {
  #mission .content .title {
    font-size: 2.5em;
  }
}
#mission .content .subtitle {
  text-align: center;
  color: white;
  font-size: 2.5em;
  font-weight: 100;
  padding: 0 6em;
}
@media (max-width: 768px) {
  #mission .content .subtitle {
    font-size: 1.5em;
    padding: 0 2em;
  }
}
#mission .content .play-button {
  margin: 60px auto;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
#mission .content .play-button:hover {
  opacity: 0.8;
}
@media (max-width: 768px) {
  #mission .content .play-button {
    margin: 40px auto;
  }
}
#mission .arrow-button {
  position: absolute;
  text-align: center;
  left: 20%;
  right: 20%;
  bottom: 5%;
}
#mission .arrow-button button {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-size: 4em;
  color: white;
}
#mission .arrow-button button:hover {
  color: rgba(255, 255, 255, 0.5);
}
#story {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  background-position: center center;
}
@media (max-width: 768px) {
  #story {
    background-position: 83% 10%;
    margin-bottom: 500px;
  }
}
#story .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(39, 59, 38, 0) 60%, #273b26 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(39, 59, 38, 0)), color-stop(100%, #273b26));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(39, 59, 38, 0) 60%, #273b26 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(39, 59, 38, 0) 60%, #273b26 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(39, 59, 38, 0) 60%, #273b26 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(39, 59, 38, 0) 60%, #273b26 100%);
  /* W3C */
}
#story .left {
  margin: 20% 10px;
}
#story .left .title {
  font-size: 2.4em;
  font-weight: 300;
}
@media (max-width: 768px) {
  #story .left .title {
    text-align: center;
  }
}
#story .left .content p {
  font-weight: 300;
  margin: 20px 0;
}
#navbar {
  height: 140px;
  opacity: 0.95;
  border: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 768px) {
  #navbar {
    height: 50px;
  }
}
#navbar.not-show {
  top: -140px;
}
#navbar.full-show {
  top: 0;
}
#navbar.half-show {
  top: -80px;
}
@media (max-width: 768px) {
  #navbar.half-show {
    top: 0;
  }
}
#navbar .navbar-header .navbar-logo {
  padding: 20px;
  display: block;
}
#navbar .navbar-header .navbar-logo .navbar-brand-image {
  color: #373737;
  margin: 3px 0;
}
#navbar .navbar-header button.navbar-toggle {
  border: none;
  background: none;
}
#navbar .navbar-header button.navbar-toggle.focus,
#navbar .navbar-header button.navbar-toggle.active,
#navbar .navbar-header button.navbar-toggle.hover {
  background: none;
}
#navbar .navbar-top {
  border-bottom: 1px solid #e7e8e6;
  text-align: center;
  position: relative;
}
#navbar .navbar-top ul {
  display: inline-block;
  margin: 20px;
}
@media (max-width: 768px) {
  #navbar .navbar-top ul {
    margin: 0;
    float: left;
    width: 100%;
  }
}
#navbar .navbar-top ul li {
  display: inline-block;
}
@media (max-width: 768px) {
  #navbar .navbar-top ul li {
    padding: 5px 0;
    display: block;
    text-align: left;
    border-bottom: 1px solid #e7e8e6;
  }
}
#navbar .navbar-top ul li a {
  color: #4a4a4a;
  font-weight: 300;
}
#navbar .navbar-top ul li a:hover,
#navbar .navbar-top ul li a:focus {
  color: #171717;
  background: none;
  font-weight: 500;
}
#navbar .navbar-top ul li.text {
  color: #4a4a4a;
  font-weight: 300;
  margin: 0 5px;
}
#navbar .navbar-top ul li.image {
  margin: 0 -10px;
}
#navbar .navbar-top ul li.app {
  border: none;
}
#navbar .navbar-top ul li.app .text {
  display: inline-block;
  color: #4a4a4a;
  font-weight: 300;
  padding: 25px 15px;
}
#navbar .navbar-top ul li.app .icon {
  width: 44px;
  height: 44px;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  background: url("../img/btn_apps_sprite.svg") no-repeat;
}
#navbar .navbar-top ul li.app .icon.apple {
  background-position: left top;
}
#navbar .navbar-top ul li.app .icon.apple:hover {
  background-position: left bottom;
}
#navbar .navbar-top ul li.app .icon.android {
  background-position: right top;
}
#navbar .navbar-top ul li.app .icon.android:hover {
  background-position: right bottom;
}
#navbar .navbar-top ul li.app .login {
  background-color: #4a4a4a;
  color: white;
  border-radius: 16px;
  float: right;
  margin-top: 20px;
  margin-right: 15px;
}
#navbar .navbar-top ul.right {
  margin: 10px 10px 0 0;
  float: right;
}
#navbar .navbar-top ul.right .icon {
  width: 44px;
  height: 44px;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  background: url("../img/btn_apps_sprite.svg") no-repeat;
}
#navbar .navbar-top ul.right .icon.apple {
  background-position: left top;
}
#navbar .navbar-top ul.right .icon.apple:hover {
  background-position: left bottom;
}
#navbar .navbar-top ul.right .icon.android {
  background-position: right top;
}
#navbar .navbar-top ul.right .icon.android:hover {
  background-position: right bottom;
}
@media (max-width: 768px) {
  #navbar .navbar-top {
    background: rgba(255, 255, 255, 0.95);
  }
}
#navbar .navbar-bottom {
  text-align: center;
}
#navbar .navbar-bottom .logo {
  display: inline-block;
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 18px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#navbar .navbar-bottom .logo.show {
  background-image: url("../img/logo.svg");
}
#navbar .navbar-bottom ul {
  display: block;
  margin: 10px auto;
}
#navbar .navbar-bottom ul li {
  display: inline-block;
}
#navbar .navbar-bottom ul li a {
  color: #4a4a4a;
  font-weight: 300;
}
#navbar .navbar-bottom ul li a:hover,
#navbar .navbar-bottom ul li a:focus {
  color: #171717;
  background: none;
  font-weight: 500;
}
#navbar .navbar-bottom ul li.active a {
  color: #171717;
  background: none;
  font-weight: 500;
}
#navbar li.divider {
  margin: 0;
  width: 1px;
  border-left: 1px solid #4a4a4a;
  height: 10px;
}
#count {
  padding: 60px 0;
}
#count .row {
  padding: 40px 0;
}
#count .border-bottom {
  border-bottom: 1px solid #e7e8e6;
}
#count .count {
  text-align: center;
  font-size: 5em;
  font-weight: 300;
  color: #4a4a4a;
}
@media (max-width: 768px) {
  #count .count {
    font-size: 2em;
  }
}
#count .stat {
  text-align: center;
  font-size: 4em;
  font-weight: 300;
  color: #4a4a4a;
}
#count .desc {
  text-align: center;
  color: #676767;
  font-weight: 100;
  font-size: 1.2em;
}
#count .medal {
  text-align: center;
  font-weight: 300;
}
#count .medal .text {
  display: inline-block;
  vertical-align: top;
}
#count .medal .text .title {
  font-size: 1.2em;
  margin: 5px 0;
}
@media (max-width: 768px) {
  #count .medal .text .title {
    font-size: 1em;
    margin: 5px 0 0;
  }
}
#count .medal .text .from {
  margin: 0;
}
@media (max-width: 768px) {
  #count .medal .text .from {
    font-size: 0.8em;
  }
}
#count .medal .decor {
  width: 45px;
  height: 79px;
  display: inline-block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 768px) {
  #count .medal .decor {
    width: 33.75px;
    height: 59.25px;
  }
}
#count .medal .left {
  background-image: url("../img/left_medal.svg");
}
@media (max-width: 768px) {
  #count .medal .left {
    left: 9%;
  }
}
@media (max-width: 992px) {
  #count .medal .left {
    left: 5%;
  }
}
#count .medal .right {
  background-image: url("../img/right_medal.svg");
}
@media (max-width: 768px) {
  #count .medal .right {
    right: 9%;
  }
}
@media (max-width: 992px) {
  #count .medal .right {
    right: 5%;
  }
}
#culture {
  background-image: url("../img/culture.jpg");
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
  position: relative;
}
@media (max-width: 768px) {
  #culture {
    height: 500px;
  }
}
#culture .overlay {
  background-color: rgba(22, 33, 63, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#culture .overlay .play-button {
  background-image: url("../img/our-culture.png");
  width: 264px;
  height: 237px;
  margin: 200px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#culture .overlay .play-button:hover {
  opacity: 0.5;
}
@media (max-width: 768px) {
  #culture .overlay .play-button {
    margin-top: 100px;
  }
}
