#team {
    padding: 60px 0;
    .title {
        text-align: center;
        margin: 40px 0;
        font-weight: 300;
        font-size: 2.8em;
        @media (max-width: @screen-sm) {
            margin: 40px 10px;
        }
    }
    .container {
        @media (max-width: @screen-lg) {
            padding: 0;
            margin: 0;
        }
        .gallery {
            margin: -1px;
        }
        .avatar {
            background: white;
            z-index: 10;
            position: absolute;
            padding: 20px;
            @media (max-width: @screen-lg) {
                padding: 1px
            }
            img {
                cursor: pointer;
                .black-and-white();
                &:hover {
                    .colorful();
                }
            }
        }
        .spotlight {
            position: absolute;
            z-index: 0;
            .close-btn {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 28px;
                height: 28px;
                font-weight: 300;
                margin: 0;
                padding: 0;
                background-image: url("../img/x.svg");
                background-size: cover;
                @media (max-width: @screen-sm) {
                    background-image: url("../img/x_white.svg");
                    width: 26px;
                    height: 26px;
                }
                &:hover {
                    opacity: 0.8
                }
                i {
                    padding: 0;
                    color: @color-dark-gray;
                    font-size: 70px;
                    line-height: 50px;
                }
            }
            .left {
                padding: 10px;
                @media @portrait {
                    padding: 0;
                    width: 60%;
                    margin: 60px auto 20px auto;
                }
                @media @landscape {
                    padding: 20px;
                }
                @media @desktop {
                    padding: 20px;
                }
                img {
                    margin: 0 auto;
                }
            }
            .right {
                padding: 20px;
                position: relative;
                height: 100%;
                text-align: center;
                @media (max-width: @screen-sm) {
                    //
                }
                .info {
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    @media @portrait {
                        padding: 0 16%;
                    }
                    @media @landscape {
                        padding: 0;
                        width: 700px;
                        top: 50%;
                        transform: translateY(-50%);
                        position: absolute;
                    }
                    @media @desktop {
                        padding: 0;
                        top: 50%;
                        width: 700px;
                        transform: translateY(-50%);
                        position: absolute;
                    }
                    
                    .name {
                        text-transform: uppercase;
                        font-size: 2.1em;
                        font-weight: 300;
                        text-align: center;
                        color: @color-dark-gray;
                        letter-spacing: 0.2em;
                        margin: 0 0 6px 0;
                        @media @portrait {
                            font-size: 2.1em;
                        }
                        @media @landscape {
                            font-size: 1.8em;
                        }
                        @media @desktop {
                            font-size: 2.1em;
                        }
                    }
                    .position {
                        text-align: center;
                        color: @color-very-gray;
                        font-weight: 300;
                        font-size: 1.1em;
                        letter-spacing: 0.1em;
                        margin: 0 0 23px 0;
                        @media @landscape {
                            margin: 0 0 18px 0;
                            font-size: 1.0em;
                        }
                    }
                    .social {
                        padding: 23px 0px;
                        border-top: 1px solid @color-light-gray;
                        border-bottom: 1px solid @color-light-gray;
                        text-align: center;
                        @media @portrait {
                            //
                        }
                        @media @landscape {
                            padding: 18px 0;
                        }
                        @media @desktop {
                            width: 440px;
                            margin: 0 auto;
                        }
                        a {
                            font-size: 0.9em;
                            margin: 0;
                            &:hover, &:focus, &:active {
                                opacity: 0.8
                            }
                            img.social-icon {
                                color: @color-dark-gray;
                                display: inline-block;
                                margin: 0 6px;
                                height: 21px;
                            }
                        }
                    }
                    .browser-history {
                        margin: 25px 0 9px 0;
                        text-align: center;
                        color: @color-very-gray;
                        font-weight: 300;
                        font-size: 1em;
                        letter-spacing: 0.1em;
                    }
                    .interest {
                        padding: 0 40px;
                        text-align: center;
                        .item {
                            font-size: 1.1em;
                            font-weight: 300;
                            color: @color-very-gray;
                            margin: 7px 5px;
                            padding: 3px 12px 5px 12px;
                            border: 1px solid @color-normal-gray;
                            border-radius: 120px;
                            @media @landscape {
                                font-size: 0.9em;
                            }
                            @media @desktop {
                                font-size: 0.8em;
                            }
                            &:hover {
                                color: @color-middle-gray;
                                border-color: #b7b7b7;
                            }
                        }
                    }
                    .description {
                        color: @color-black;
                        font-size: 1.1em;
                        margin: 36px 0 0 0;
                        font-weight: 300;
                        text-align: left;
                    }
                }
            }
        }
    }
}
