@font-face {
  font-family: 'Windsor';
  font-style: normal;
  src: url(../font/Windsor-Hand.otf);
}

body {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}

.btn {
    background: none;
    border: none;
    &:active, &:hover, &:focus {
        outline: 0;
    }
}
