.background-size() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.transition(@time: 0.5s) {
    -webkit-transition: all @time ease-in-out;
    -moz-transition: all @time ease-in-out;
    -o-transition: all @time ease-in-out;
    transition: all @time ease-in-out;
}
.gradient-vertical (@top-color, @bottom-color) {
    background: -moz-linear-gradient(top, @top-color 60%, @bottom-color 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, @top-color), color-stop(100%, @bottom-color));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, @top-color 60%, @bottom-color 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, @top-color 60%, @bottom-color 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, @top-color 60%, @bottom-color 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, @top-color 60%, @bottom-color 100%);
    /* W3C */
}
.box-shadow () {
    -webkit-box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.5);
}
.black-and-white () {
    -webkit-filter: grayscale(100%);
    -moz-box-shadow: grayscale(100%);
    -o-box-shadow: grayscale(100%);
    filter: grayscale(100%);
}
.colorful () {
    -webkit-filter: grayscale(0);
    -moz-box-shadow: grayscale(0);
    -o-box-shadow: grayscale(0);
    filter: grayscale(0);
}
