@color-black: #373737;
@color-dark-gray: #4a4a4a;
@color-middle-gray: #676767;
@color-very-gray: #9B9B9B;
@color-normal-gray: #dddddd;
@color-light-gray: rgb(231, 232, 230);

@portrait: ~"only screen and (min-width: 768px) and (max-width: 1023px)";
@landscape: ~"only screen and (min-width: 1024px) and (max-width: 1449px)";
@desktop: ~"only screen and (min-width: 1450px)";
